@model SC_601_Project.Models.ScheduleList

@{
    if (Session["userid"] == null)
    {
        Response.Redirect("~/login/index");
    }
    if (Session["role"].ToString() == "U")
    {
        Layout = "~/views/shared/_menuClient.cshtml";
    }
    else
    if (Session["role"].ToString() == "E")
    {
        Layout = "~/views/shared/_menuEmployee.cshtml";
    }
    else
    if (Session["role"].ToString() == "A")
    {
        Layout = "~/views/shared/_menuAdmin.cshtml";
    }
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
</head>
<body>
    <h3>Seguro que desea eliminar la cita?</h3>
    <div>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.username)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.username)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.time)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.time)
            </dd>
    
        </dl>
    
        @using (Html.BeginForm()) {
            @Html.AntiForgeryToken()
    
            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-sm btn-danger" /> |
                @Html.ActionLink("Back to List", "Index", "", new { @class = "btn btn-sm btn-primary" })
            </div>
        }
    </div>
</body>
</html>
