@model IPagedList<SC_601_Project.Models.UserCred>

@{
    if (Session["userid"] == null)
    {
        Response.Redirect("~/login/index");
    }
    if (Session["role"].ToString() == "U")
    {
        Layout = "~/views/shared/_menuClient.cshtml";
    }
    else
    if (Session["role"].ToString() == "E")
    {
        Layout = "~/views/shared/_menuEmployee.cshtml";
    }
    else
    if (Session["role"].ToString() == "A")
    {
        Layout = "~/views/shared/_menuAdmin.cshtml";
    }
}

@using PagedList.Mvc;
@using PagedList;

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Crear</title>
</head>
<body>
    <br />
    <p>
        <h3> @Html.ActionLink("Añadir", "Create", "", new { @class = "btn btn-sm btn-success" }) </h3>
    </p>
    <p>
        @using (Html.BeginForm("Index", "UserCreds", FormMethod.Get))
        {
            <input type="text" name="search" placeholder="Digite nombre de usuario.." />
            <input type="submit" name="submit" value="Buscar" class = "btn btn-sm btn-primary"/>
            <input type="submit" name="submit" value="Limpiar" class = "btn btn-sm btn-primary"/>
        }
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.First().username)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().role)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Person.first_name)
            </th>
            <th>
                Acciones
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.username)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.role)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Person.first_name)
                </td>
                <td>
                    @Html.ActionLink("Editar", "Edit", new { id = item.idNum }, new { @class = "btn btn-sm btn-info" }) |
                    @Html.ActionLink("Detalles", "Details", new { id = item.idNum }, new { @class = "btn btn-sm btn-primary" }) |
                    @Html.ActionLink("Eliminar", "Delete", new { id = item.idNum }, new { @class = "btn btn-sm btn-danger" })
                </td>
            </tr>
        }

    </table>
    @Html.PagedListPager(Model,i=>Url.Action("Index","UserCreds", new { i, search=Request.QueryString["search"] } ))
</body>
<hr>
<label>Total: </label> @ViewBag.TotalCreds
</html>
